language: python

python: "3.5"

services:
    - mongodb
    - redis-server

addons:
  chrome: stable
  apt:
    sources:
    - mongodb-3.0-precise
    - elasticsearch-2.x
    packages:
    - mongodb-org-server
    - elasticsearch

cache:
  directories:
    - $HOME/.cache/pip
    - $HOME/.npm

before_install:
    - sudo apt-get purge elasticsearch
    - sudo apt-get install -t stable elasticsearch
    - sudo service elasticsearch restart
    - nvm install --lts
    - nvm use --lts
    - node --version
    - npm install -g npm@lts
    - npm install -g grunt-cli

install:
    - cd server && pip install -r dev-requirements.txt && cd ..
    - cd client && npm install && cd ..

script:
    - cd client && npm test && cd ..
    - cd server && flake8 && cd ..
    - cd server && nosetests && cd ..
    - cd server && behave ./features/ --format progress2 --logging-level ERROR && cd ..
    - cd client && grunt build && cd ..
    - cd server && python manage.py users:create -u test -p test -e test@localhost --admin && cd ..
