gunicorn
honcho
feedgen==1.0.0
openpyxl==3.0.7

git+https://github.com/superdesk/superdesk-core.git@hotfix/2.6.5#egg=superdesk-core
git+https://github.com/superdesk/superdesk-planning.git@hotfix/2.6.3#egg=superdesk-planning
