gunicorn
honcho
feedgen==0.7.0
openpyxl==3.1.5

git+https://github.com/superdesk/superdesk-core.git@hotfix/2.6.8#egg=superdesk-core
git+https://github.com/superdesk/superdesk-planning.git@hotfix/2.6.3#egg=superdesk-planning
