gunicorn
honcho
feedgen==0.7.0
openpyxl==3.0.7

git+https://github.com/superdesk/superdesk-core.git@d0d5027#egg=superdesk-core
git+https://github.com/superdesk/superdesk-planning.git@46e51be#egg=superdesk-planning
